.DS_Store
.gradle
.idea
.nb-gradle

/cookbook/.DS_Store
/cookbook/.gradle
/cookbook/.nb-gradle
/cookbook/.nb-gradle/private/
/cookbook/build

/patterns/.DS_Store
/patterns/.gradle
/patterns/.nb-gradle
/patterns/.nb-gradle/private/
/patterns/build

/testing/.DS_Store
/testing/.gradle
/testing/.nb-gradle
/testing/.nb-gradle/private/
/testing/build

/tools/.DS_Store
/tools/.gradle
/tools/.nb-gradle
/tools/.nb-gradle/private/
/tools/build


