<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>

		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<!-- Rolling File Appender -->
		<RollingFile name="RollingFile">
			<FileName>target/log/mylog.log</FileName>
			<FilePattern>target/log/time-based-logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
			<PatternLayout>
				<Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="2" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<JTextAreaAppender name="jtextarea-log" maxLines="100">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
			</PatternLayout>
		</JTextAreaAppender>

	</Appenders>
	<Loggers>
		<!--<Logger name="boraji.MainApp" level="DEBUG" additivity="false">-->
			<!--<AppenderRef ref="RollingFile" />-->
			<!--<AppenderRef ref="Console" />-->
		<!--</Logger>-->
		<Logger name="My Logger" level="debug" additivity="false">
			<appender-ref ref="Console" level="debug"/>
			<appender-ref ref="jtextarea-log" level="debug"/>
		</Logger>
		<Root level="trace">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>